.repo{
    background-color: tomato;
    margin: 50px;
    border: 5px solid wheat;
    border-radius: 10px 150px 10px;
    padding: 50px;
    box-shadow: 5px 10px 5px;
}
.heading{
    color: darkgreen;
    text-align: center;
    display: inline-block;
    
    
}
span{
    /* display: block; */
    display: inline-block;
    text-align: center;
    color: blueviolet;
    font-size: 20px;
}
.blog{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}